body {
    font-family: Arial, sans-serif;
    background-color: #add8e6; /* Light blue background */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: #add8e6;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main {
    width: 80%;
    margin-top: 20px;
}

.categories {
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card {
    /* background-color: white; */
    border: 1px solid #644e4e;
    padding: 20px;
    margin: 0 10px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    margin-top: 20px;
}

.image-placeholder {
    /* background-color: white; */
    border: 1px solid #644e4e;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-content p {
    margin: 5px 0;
}
